/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --first-color: #142850;
  --bg-color: #12192C;
  --sub-color: #B6CEFC;
  --white-color: #f5f5f5;
  --third-color: #bababa;
  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

body{
  position: relative;
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
  background-color: var(--white-color);
  padding:20px ;
}

.body-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
  margin: 0;
  min-height: 100vh;
  background-color: #ecebeb;
 
}

.botaoplanos{
  padding: 7px 10px;
  background-color: #a8a8a8;
  font-size: 14px;
  font-family: var(--body-font);
  width: 200px;
  text-align: center;
  color: #1c1c1c;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
}

.botaoempresa{
  padding: 7px 10px;
  background-color: #a8a8a8;
  font-size: 14px;
  font-family: var(--body-font);
  width: 200px;
  text-align: center;
  color: #1c1c1c;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 7px;
}


footer {
  background-color: var(--bg-color);
  color: #ccc;
  text-align: center;
  padding: 0.1rem;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 40px;
  
}
.logo3{
  width: 125px;
  height: 25px;
}

.logout-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.logout-text{
  text-decoration: none;
}

.log-out {
  font-size: 24px; 
  color: #333;
}

.logout-text {
  font-size: 16px; 
  color: #333;
}

.footer2{
  background-color: #e4e4e4;
  color: #252525;
  text-align: center;
  padding: 0.1rem;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

}


.maincontainer {
  display: flex;
  flex-direction: row;
  background-color: #e7e7e7;
  width: 800px;  
  height: 450px;
  border-radius: 15px;
  padding: 0;
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
  
}


/* Estilos para o contêiner Lottie */
.lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
  height: 100%;  

}


/* Estilos para o contêiner de Login */
.container_login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 15px;
}

.logo{
  width: 100px;
  height: 18px;
  margin-bottom: -10px;
}
.logo2{
  width: 125px;
  height: 25px;
  margin-bottom: 60px;

}


.nav__link:hover{
  background-color: #142850;
}

h2 {
  text-align: left;
}

h3 {
  font-size: 20px;
  font-weight: 600;

}
.login-box {
  width: 90%;
  align-items: center;
  justify-content: left;

}

/* Estilo do título */

/* Estilos dos grupos de entrada */
.input-group {
  margin-bottom: 1rem; 
}

label {
  display: block;
  margin-bottom: 0.2rem;
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 400;
  color: #262626;
}

input {
  width: 100%; 
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 16px;
  font-family: var(--body-font);
  color: #353535;
  border: none;
  outline: none;
  border-bottom: 2px solid #12192C;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-bottom: 10px;
}

/* Estilos do botão de login */
.login-button {
  width: 100%; 
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
  transition: background-color 0.3s;
  font-family: var(--body-font);
  margin-top: 5px;
  font-size: 16px;
}


h1 {
  font-size: 2rem; 
  margin: 1rem 0; 
}


.login-button:hover {
  background-color:var(--white-color);
}

.time{
  margin-bottom: -10px;
}

.time-data{
  padding: 20px 40px;
  background-color: #f5f5f5;
  box-shadow: 0 1px 5px rgba(10, 10, 20, 0.4);
  margin: 30px;
  border-radius: 20px;
}

.hide {
  display: none; 
}

.body-pd {
  padding-left: 280px; 
  padding-right: 30px;
  margin-top: 20px;
  background-color: var(--white-color);
  transition: all 0.3s ease;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: all 0.3s ease;
  z-index: var(--z-fixed);
}
 .dashboard{
  display: flex;
  flex-direction: row;
  background-color: #e9e8e8;
  padding: 10px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px;
  justify-content: space-between;
  align-items: center;
 }

 .onlutwo{
  display: flex;
  flex-direction: row;
 }
 .numbertotal{
  font-size: 17px;
 }

 .funcionarios1{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 20px; 
  transition: 0.5s;
  width: 100%;
 }

.especila{
  background-color: #ececec;
  color: #000000;
}

.samllrow{
  display: flex;
  flex-direction: row;
}
.big-column{
  display: flex;
  flex-direction: column;
}
.home-btn{
  background-color: #d0d0d0;
  max-width: 50px;
  padding: 7px;
  border-radius: 6px;
  border: none;
  color: #000000;
  font-family: var(--body-font);
}

.home-btn2{
  max-width: 100px;
  padding: 7px;
  border-radius: 6px;
  border: none;
  color: #000000;
  font-family: var(--body-font);
  background-color: #d0d0d0;
}

 .home-icon{
  font-size: 50px;
  margin-right: 20px;
 }

 .funcionario-textop{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 30px;
  row-gap: 0px;

 }
.especial4{
  background-color: #142850;
  color: #000000;
  width: 40%;
}

 h4{
  margin-bottom: -10px;
 }

 .funcionarios1:hover{
  background-color: #b3b3b3;
  color: var(--white-color);
 }

.especil2{
  background-color: #7c7c7c;
}


.card3 {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding-left: 10px;
  margin: 10px;
}

.number-dash{
  background-color: #f5f5f5; 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); 
  padding: 5px 10px;
  border-radius: 7px;
  font-size: 18px;

}


.special{
  background-color: #142850;
  color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  gap: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}




.l-navbar.expander .nav__name {
  display: inline;
}


.nav__toggle{
  font-size: 1rem;
  padding: .75rem;
  cursor: pointer;
  margin-bottom: 20px;
  opacity: 0;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}

.nav__icon{
  font-size: 1rem;
}
.nav__name{
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.conatainer-variavel{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

/*Expander menu*/
.expander{
  width: 250px;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
  color: #fefdfd;
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: #ffffff;
  font-size: var(--small-font-size);
  
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

.servicos-container{
  display: flex;
  flex-direction: row;
}

.formulario-serviço{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 20px;
  background-color: #fafafa;
  margin: 30px;
}

.btn-primary{
  width: 100%;
  background-color: var(--first-color);
  padding: 10px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  color: #e7e7e7;
  font-family: var(--body-font);
  border-radius: 5px;
  border: none;
}

.btn-primary:hover{
  background-color: var(--third-color);
}

.btn-primary3{
  width: 40%;
  background-color: var(--first-color);
  padding: 10px;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  color: #e7e7e7;
  font-family: var(--body-font);
  border-radius: 5px;
  border: none;
}

.tabela-serviço{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 15px;
}

select {
  padding: 7px;
  font-family: var(--body-font);
  font-size: 14px;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}
.tabela{
  padding: 10px;
}


table {
  border-collapse: collapse;
  margin-top: 10px; 
  justify-content: left;
  margin-bottom: 20px;
  border-collapse: separate; 
  border-spacing: 10px;
}



th, td {
  padding: 7px;
  text-align: left; 
  border-bottom: 1px solid #c0c0c0; 
  font-family: var(--body-font);
  font-size: 14px;

}

.exluir{
  font-family: var(--body-font);
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  color: #252525;
  background-color: var(--white-color);
}

th {
  color: #000000; 
  font-style: bold;
  font-family: var(--body-font);
  font-size: 14px;

  padding: 10px;

}

tbody tr:hover {
  background-color: #f5f5f5; 
}

tbody tr:nth-child(even) {
  background-color: var(--white-color); 
}

tbody tr:nth-child(odd) {
  background-color: var(--white-color); 
}

td {
  font-size: 14px; 
}


td[colspan="5"] {
  text-align: center; 
  font-style: italic;
  color: #999; 
  padding: 20px; 
  font-family: var(--body-font);
  font-size: 16px;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

#popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  width: 400px;
}

.btn-secondary{
  font-size: 13px;
  font-family: var(--body-font);
  padding: 7px;
  background-color: #dadada;
  border-radius: 5px;
  border: none;
  outline: none;
}


/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {

  .body-home{
    padding: 20px;
  }

  .maincontainer{
    display: flex;
    flex-direction: column;
    height: 500px;
    margin-bottom: 40px;
  
  }

  .lottie-container{
    width: 100%;
    padding: 10px;
    height: 40%;
  }
  .layoutimg{
    width: 30%;
  }

  .container_login{
    width: 100%;
    height: 100%;
    
  }
  .login-box{
    width: 90%;
   
  }


  .l-navbar{
    width: 80px;
    height: 100vh;
    padding: 15px;
  }
  .l-navbar.expander {
    width: 200px; /* A largura que deseja quando expandido em dispositivos móveis */
  }

  .nav__toggle {
    font-size: 1.8rem;
    padding: 0.2rem;
  }

  .nav__link {
    padding: 0.6rem;
    column-gap: 0.5rem;
  }

  .nav__icon {
    font-size: 1.3rem;}


}
.adcfun-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os elementos se ajustem automaticamente */
  gap: 20px; /* Espaço entre os quadros */
  justify-content: space-between; /* Espaçamento igual entre os quadros */
}
.resposta-container {
  grid-column: span 3; /* Ocupar toda a largura na última linha */
  background-color: #f9f9f9;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 150px; /* Altura mínima */
  position: relative;
  margin-top: 50px;
}



.formulario-departamento {
  flex: 1 1 calc(50% - 20px); /* 50% da largura menos o gap */
  min-width: 300px; /* Largura mínima para manter o design responsivo */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adicione um efeito de sombra (opcional) */
  border: 1px solid #ddd; /* Borda para separar visualmente os quadros */
  padding: 20px; /* Espaçamento interno */
  background-color: #fff; /* Fundo branco */
  border-radius: 8px; /* Bordas arredondadas */
}





.tabela-fun {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 15px;
  align-items: right;
  position: relative;
  margin-top: 20px;
}
.table {
  width: 100%; 
  border-collapse: collapse; 
}
.table th, .table td {
  padding: 10px; 
  text-align: left; 
}
.sas{
  display: flex;
  gap: 10px;
}

.teblea-btn{
  background-color: #d7d6d6;
  font-family: var(--body-font);
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-tablea-esp{
  background-color: var(--bg-color);
  color: #ffffff;
}

.btn-danger{
  width: 100%;
  background-color: var(--first-color);
  padding: 10px;
  margin-top: 97px;
  align-items: center;
  justify-content: center;
  color: #e7e7e7;
  font-family: var(--body-font);
  border-radius: 5px;
  border: none;
  
}
.btn-danger:hover{
  background-color: var(--third-color);
}
.tabela-projetos {
  width: 100%; /* Faz a tabela ocupar toda a largura disponível */
  max-width: 1200px; /* Define um limite máximo de largura */
  height: auto; /* Permite que a altura se ajuste ao conteúdo */
  margin: 20px auto; /* Centraliza a tabela horizontalmente */
  border-collapse: collapse; /* Remove espaços entre as células */
  overflow-x: auto; /* Adiciona barra de rolagem horizontal se necessário */
}

.tabela-projetos th,
.tabela-projetos td {
  padding: 10px; /* Adiciona espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
  border: 1px solid #ccc; /* Adiciona borda às células */
}

.tabela-projetos th {
  background-color: #626262; /* Cor de fundo do cabeçalho */
  color: white; /* Cor do texto no cabeçalho */
  font-weight: bold; /* Negrito no cabeçalho */
}

.tabela-projetos tbody tr:hover {
  background-color: #f5f5f5; /* Destaque na linha ao passar o mouse */
}