<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}DataSphere{% endblock %}</title>
</head>
<body >
    {% include 'menu.html' %}

    <main>
        {% block content %}
        home.html
        {% endblock %}
    </main>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <footer class="footer2">
        <p>&copy; 2024 Dataphere. Todos os direitos reservados.</p>
    </footer>
</body>
</html>