<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body-home">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="maincontainer">
        <div class="lottie-container">
            <img src="static\datasheprer.svg " class="layoutimg" alt="Logo">
        </div>
 
        <div class="container_login" id="login-form">
            <div class="login-box">
                <img class="logo" src="static/datasphere.svg" alt="">
                <h3>Faça o Cadastro</h3>
                <form action="/cadastro" method="post">
                    <div class="input-group">
                        <label for="email_cadastro">E-mail</label>
                        <input type="email" id="email_cadastro" name="email_cadastro" required placeholder="Digite seu e-mail">
                    </div>
                    <div class="input-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" required placeholder="Digite sua senha">
                    </div>

                    <div class="input-group">
                        <label for="password">Comfirme sua Senha</label>
                        <input type="password" id="password" name="password" required placeholder="Digite novamente sua senha">
                    </div>
                    <button type="submit" class="login-button">Entrar</button>
                    <a href="{{ url_for('index') }}" class="cadastro"> Já tem uma conta? Faça Login</a>
                </form>
            </div>
        </div>
    </div>

        <footer>
            <p>DataSphere - Todos os direitos reservados &copy; 2024</p>
        </footer>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>
</html>