{% extends 'base.html' %}

{% block title %}Agendar Serviço{% endblock %}

{% block content %}
<div class="dp">
    <div class="dp2"> 
        <h2>Departamento</h2>
        <form method="POST" class="formulario-serviço">
            <div class="form-group">
                <label for="nome">Nome do departamento</label>
                <input type="text" class="form-control" name="nome" required>
            </div>
            <div class="form-group">
                <label for="setor">Setor</label>
                <input type="text" class="form-control" name="setor" required></textarea>
            </div>
            <div class="form-group">
                <label for="data">Nome funcionário</label>
                <input type="text" class="form-control" name="data" required>
            </div>
            <div class="form-group">
                <label for="horario">E-mail funcionário</label>
                <input type="text" class="form-control" name="horario" required>
            </div>
            <div class="sas">
                <button type="submit" class="btn btn-primary" style="display: inline-block;">Adicionar funcionário</button>
                <button type="submit" class="btn btn-primary" style="display: inline-block;">Remover funcionário</button>
                <button type="submit" class="btn btn-primary" style="display: inline-block;">Atribuir Gerente</button>
            </div>
            
        </form>
    </div>
    <div class="servicos-container">
        <div class="formulario-serviço"> 
            <h2>Projeto</h2>
            <form method="POST" action="{{ url_for('gerenciar_projetos') }}">
                <div class="form-group">
                    <label for="nome_do_projeto">Nome do projeto</label>
                    <input type="text" class="form-control" name="nome_do_projeto" required>
                </div>
                <div class="form-group">
                    <label for="obj_met">Objetivo/Metas</label>
                    <input type="text" class="form-control" name="obj_met" required></textarea>
                </div>
                <div class="form-group">
                    <label for="membros">Membros</label>
                    <input type="text" class="form-control" name="membros" required>
                </div>
                <div class="form-group">
                    <label for="dt">Data de término</label>
                    <input type="date" class="form-control" name="dt" required>
                </div>
                
                <button type="submit" class="btn btn-primary">Iniciar projeto</button>
                 <button type="submit" class="btn btn-primary">Concluir projeto</button>
            </form>
        </div>
        
    <div class="tabela-projetos">
            <h2>Projetos Cadastrados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome do Projeto</th>
                        <th>Objetivos</th>
                        <th>Membros</th>
                        <th>Data de Término</th>
                    </tr>
                </thead>
                <tbody>
                    {% for projeto in projetos %}
                    <tr class="nome_projeto"> 
                        <td>{{ projeto.nome_do_projeto }}</td>
                        <td>{{ projeto.obj_met }}</td>
                        <td>{{ projeto.membros }}</td>
                        <td>{{ projeto.data_termino }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('excluir_projeto', id=projeto.id) }}" style="display:inline;">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}