{% extends 'base.html' %}

{% block title %}Pessoas{% endblock %}

{% block content %}
 <div> 
    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    alert("{{ message }}"); // Exibe a mensagem como popup
                {% endfor %}
            {% endif %}
        {% endwith %}
    </script>

    <div class="formulario-departamento">
        <h2>Cadastrar Pessoa</h2>
        <form method="POST" action="{{ url_for('cadastrar_pessoas') }}">
            <div class="form-group">
                <label for="nome_pessoa">Nome da Pessoa</label>
                <input type="text" class="form-control" name="nome_pessoa" required>
            </div>
            <div class="form-group">
                <label for="cpf_pessoa">CPF</label>
                <input type="text" class="form-control" name="cpf_pessoa" required>
            </div>
            <div class="form-group">
                <label for="cnpj_pessoa">CNPJ</label>
                <input type="text" class="form-control" name="cnpj_pessoa" required>
            </div>
            <div class="form-group">
                <label for="email_pessoa">Email</label>
                <input type="email" class="form-control" name="email_pessoa" required>
            </div>
            <div class="form-group">
                <label for="celular_pessoa">Celular</label>
                <input type="number" class="form-control" name="celular_pessoa" required>
            </div>
            <div class="form-group">
                <label for="endereco_pessoa">Endereço</label>
                <input type="text" class="form-control" name="endereco_pessoa" required>
            </div>
            <div class="form-group">
                <label for="nascimento_pessoa">Nascimento</label>
                <input type="date" class="form-control" name="nascimento_pessoa" required>
            </div>
            <div class="form-group">
                <label for="atribuicao_pessoa">Atribuição</label>
                <input type="text" class="form-control" name="atribuicao_pessoa" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>


 </div>

 {% endblock %}